<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css" integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>
<h1>collaborative drawing board</h1>
<button id="clear-canvas">Clear Canvas</button>
<canvas id="canvas" width="1920" height="1080"></canvas>
<canvas id="canvas" width="1920" height="1080">
</canvas>
